@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:wght@400:600");

//color
$board-bg-color: #0079bf;
$column-bg-color: #ebecf0;

//Distance
$d-10: 10px;

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: "(max-width: 375px)";
